body {
    background-color: #bda09c;
    color: #ffffff;
}

h1 {
    font-size: 1.75em;

}

h2 {
    margin: 0.5em 0em 0.5em 0;
}

h3 {
    margin: 0.5em 0em 0em;
}

header {
    margin: 2em 0em 5em 0em;
}

h1,
h2,
h3,
h4,
header,
.nav-link {
    font-family: 'Playfair Display', serif;

}
.img {
    margin: 0em 0em 0em 0em;
}

.narrow {
    margin: 0em 0em;
}

.description {
    font-size: medium;
}


.narrow {
    margin: 0em 0em;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

section {
    margin: 1.5em 0;
}

.nav-link {
    text-transform: uppercase;
    color: black;
}

.nav-link:hover {
    color: white;
}

@media(max-width:768px) {
    .nav-link {
        padding: 0 1em 0 0;
        font-size: 1.25em;
    }
}

@media (max-width:576px) {
    .nav-link {
        padding: 0em 1em 0em 0em;
        font-size: 1.25em;
    }
}