body {
    background-color: black;
    color: white;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
}
h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    padding-top: 150px;
    font-size: 3em;
}
b {
    color: #FE2C55;
}
header {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
}
.content {
    margin-left: 11em;
    margin-right: 11em;
}
.img {
    max-width: 93%;
    margin-bottom: 1em;
}
.safety {
    margin: 0em;
    margin-right: 30em;
}
footer,
{
font-style: italic;
}
@media(max-width:768px) {
    body {
        margin: 0;
    }
}
@media (max-width:576px) {
    img {
        padding: 0em 1em 2em 0em;
        margin-left: 0em;
        margin-right: 0em;
    }
}
@media (max-width: 768px) {
    .content {
        margin-left: 6em;
        margin-right: 6em;
        font-weight: 400;
        }
}
@media(max-width:768px) {
    h1 {
        font-size: 1.25em;
        padding-bottom: 10px;
    }
}
/*font famoilies
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Sofia Sans Semi Condensed', sans-serif;
Open+Sans:wght@300;400&family
*/